body {
    font: 100%/1.5 system-ui, sans-serif;
    display: flex;
    flex-flow: column;
    max-width: 80em;
    min-height: 100vh;
    box-sizing: border-box;
    margin: auto;
    padding: 1em;
  }

:root {
    --color-departures: steelblue;
    --color-arrivals: darkorange;
}

.legend {
    display: flex;
    align-items: center;
    gap: 1em;
    font-size: 0.9em;
    margin-top: 1em;
}

.legend span {
    font-weight: bold;
    color: gray;
}

.legend-item {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.legend-circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: color-mix(
        in hsl,
        var(--color-departures) calc(100% * var(--departure-ratio)),
        var(--color-arrivals)
    );
}

